<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>animations</key>
  <dict>
    <key>bear1</key>
    <dict>
      <key>delay</key>
      <real>0.2</real>
      <key>restoreOriginalFrame</key>
      <true/>
      <key>frames</key>
      <array>
        <string>bear1_01.png</string>
        <string>bear1_02.png</string>
        <string>bear1_03.png</string>
        <string>bear1_04.png</string>
        <string>bear1_05.png</string>
        <string>bear1_06.png</string>
        <string>bear1_07.png</string>
        <string>bear1_08.png</string>
        <string>bear1_09.png</string>
        <string>bear1_10.png</string>
        <string>bear1_11.png</string>
        <string>bear1_12.png</string>
      </array>
    </dict>
    <key>bear2</key>
    <dict>
      <key>delay</key>
      <real>0.2</real>
      <key>restoreOriginalFrame</key>
      <true/>
      <key>frames</key>
      <array>
        <string>bear2_01.png</string>
        <string>bear2_02.png</string>
        <string>bear2_03.png</string>
        <string>bear2_04.png</string>
        <string>bear2_05.png</string>
        <string>bear2_06.png</string>
        <string>bear2_07.png</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>