<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>bear2</key>
    <dict>
      <key>delay</key>
      <real>0.2</real>
      <key>restoreOriginalFrame</key>
      <true/>
      <key>frames</key>
      <array>
        <string>_0000_1.png</string>
        <string>_0001_2.png</string>
        <string>_0002_3.png</string>
        <string>_0003_4.png</string>
        <string>_0004_5.png</string>
        <string>_0005_6.png</string>
        <string>_0006_7.png</string>
      </array>
    </dict>
	</dict>
</dict>
</plist>